<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On
RewriteBase /

# Serve index.html for any request that does not match a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]	
</IfModule>